<% if (theme.gitalk.clientID && theme.gitalk.clientSecret) { %>
<%- theme.vendors.fancybox_css ? css(theme.vendors.fancybox_css) : css('lib/gitalk/gitalk.css') %>
<div id="gitalk" class="gitalk"></div>
<%- theme.vendors.gitalk_js ? js(theme.vendors.gitalk_js) : js('lib/gitalk/gitalk.js') %>
<script>
  const title = window.location.pathname.substring(0, 50);
  window.onload = function () {
    const gitalk = new Gitalk({
      clientID: '<%= theme.gitalk.clientID %>',
      clientSecret: '<%= theme.gitalk.clientSecret %>',
      id: title,
      repo: '<%= theme.gitalk.repo %>',
      owner: '<%= theme.gitalk.owner %>',
      admin: '<%= theme.gitalk.admin %>',
      proxy: '<%= theme.gitalk.proxy %>',
      distractionFreeMode: true,
    });
    if ( <%- theme.comments.button %> ) {
      $("#comments-btn").on("click", function () {
        $(this).hide();
      });
    }
    gitalk.render('gitalk');
  }
</script>
<% } %>
